<style>
div.dialog {
    width: 95%;
    max-width: 33em;
    margin: 4em auto 0;
  }
</style>

<div class="dialog">
<h1>New contact</h1>

<%= render 'form' %>

 <button ><%= link_to 'Back', contacts_path %></button>
</div>
 <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.1/css/bootstrap.min.css">
